*.o
*.data
*.old
out.png
compare.png
segmented.png
cp-test
cp-benchmark
so-test
so-benchmark
is-test
is-benchmark
mf-test
mf-benchmark
nn
nn-test
nn-benchmark
weights.bin
pngcorrelate
pngdiff
benchmark.run
pngsegment
pngmf

